.playlistItem {
  margin: 10px 0;
  border-radius: 5px;

  &.active {
    background: #b80042;

    .cardActionArea {
      .cardContent {
        p {
          color: #fff !important;
        }
      }
    }
  }

  .cardActionArea {
    padding: 7px 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .imgContent {
      width: 75px;
      height: 50px;

      position: relative;
      border-radius: 5px;
      overflow: hidden;

      .img {
        width: 100%;
        height: 100%;
      }

      .lock {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(184, 0, 68, 0.43);
      }
    }

    .cardContent {
      flex: 1;
      padding: 5px 16px;
    }
  }
}
