.header {
  .headerContent {
    display: flex;
    justify-content: space-between;

    margin: 3px 20px;

    .login {
      width: 120px;
    }

    .auth {
      display: flex;
      gap: 10px;
    }
  }
}
