.actualitySlider {
  max-width: 1210px;
  position: relative;
  margin: 10px auto !important;

  .btnSlide {
    display: flex;
    justify-content: space-between;
    gap: 5px;

    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-49px);

    @media (min-width: 425px) {
      gap: 15px;
    }
  }
}
