.signUpTemplate {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding: 10px 10px;

  .signUp {
    padding-bottom: 25px;

    .header {
      padding: 10px 12px;

      .logo {
        width: 200px;
        height: auto;

        img {
          height: auto;
        }
      }

      .text {
        color: #000;
        text-align: center;
      }
    }

    .footer {
      margin-top: 20px;

      .text {
        padding: 0 20px;
        text-align: center;

        .signIn {
          color: #b80042;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
}
