.teamCard {
  height: 365px;
  // max-width: 500px;
  // max-width: 300px;
  border-radius: 15px !important;
  margin: 0 auto;

  @media (max-width: 528px) {
    height: unset;
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .imgContainer {
      // width: 130px;
      // height: 130px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;

      .img {
        width: 100%;
        height: 100%;
      }
    }

    .description {
      margin: 10px 0 15px 0;
      text-align: center;
    }

    .socials {
      display: flex;
      gap: 10px;
      background: #f1f1f1;
      padding: 3px 20px;
      border-radius: 30px;

      .iconButton {
        width: 32px;
        height: auto;
      }
    }
  }
}
