.cta {
  background: #b80042;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  padding-top: 30px !important;
  margin-top: 0px !important;
  padding-bottom: 30px !important;

  @media (min-width: 1024px) {
    height: 150px;
  }

  .text {
    .title,
    .subtitle {
      color: #fff !important;
    }

    .subtitle {
      padding-top: 10px;
    }
  }

  .action,
  .action:hover {
    color: #b80042;
    background: #fff;
    padding: 10px 20px;
    width: 100%;

    @media (min-width: 1024px) {
      width: unset;
    }
  }
}
