.adminMenuDrawer {
  margin-bottom: 20px;
  
  &, &:hover {
    width: 40px;
    height: 40px;
    padding: 4px;
    background: #b80042;
    border-radius: 3px;

    svg {
      color: #fff;
      font-size: 25px;
    }
  }
}