.about {
  max-width: 1210px;
  margin: 10px auto !important;

  .img {
    width: auto;
    height: 250px;

    @media (min-width: 768px) {
      height: 300px;
    }
  }

  .text {
    text-align: justify;
  }
}
