.player {
  --height-list: 350px;
  --height-video: unset;
  max-width: 1440px;
  border: 1px solid #fff;

  @media (min-width: 768px) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 300px;

    --height-list: 600px;
    --height-video: 600px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 400px;
  }

  .video {
    height: var(--height-video);
  }

  .list {
    height: var(--height-list);
  }
}
