.serviceCard {
  flex: 1;
  width: 30%;
  display: flex;
  min-width: 32rem;
  grid-row-gap: 2rem;
  align-items: center;
  grid-column-gap: 2rem;
  flex-direction: column;
  border-radius: 0 !important;
  background-color: #0f2940;
  justify-content: space-between;
  transition: background-color 0.2s;


  @media screen and (max-width: 991px) {
    width: 100%;
    min-width: 0;
    flex: 0 auto;
  }

  &:hover {
    background: #b80042;
  }

  color: #fff;

  .container {
    padding: 5%;

    .cardContent {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .title {
        margin: 15px 0;
        text-transform: uppercase;
      }

      .description {
        width: 100%;
        max-width: 500px;
      }

      .title,
      .description {
        color: #fff;
        text-align: center;
      }
    }
  }
}
