.mobileAuthList {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .list {
    width: 100%;
    
    .listItemButton {
      .listItemText {
        font-weight: 800;
        text-align: center;
      }
    }
  }
}
